@media (min-width: 768px){
    .bd-navbar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1071;
    }
}

@media (max-width: 991.98px) {
    .bd-navbar {
        padding-right: .5rem;
        padding-left: .5rem;
    }
}

.nav-padding{
    display: block;
    padding: 0.5rem 1rem;
}